$bg-primary: #F2F2F2;
$bg-secondary: #1358BE;
$bg-tertiary: #FFF;
$bg-4: #57A1EF;

$color-primary: #006CDC;
$color-secondary: #002C5B;
$color-tertiary: #A2A2A2;
$color-4: #004A69;
$color-5: #C1C1C1;
$color-white: #FFF;

$border-color-publication: #AEAEAE;

$transition-duration: 0.4s;
