$bg-primary: #F2F2F2;
$bg-secondary: #1358BE;
$bg-tertiary: #FFF;
$bg-4: #57A1EF;

$color-primary: #006CDC;
$color-secondary: #002C5B;
$color-tertiary: #A2A2A2;
$color-4: #004A69;
$color-5: #C1C1C1;
$color-white: #FFF;

$border-color-publication: #AEAEAE;

$transition-duration: 0.4s;

@mixin swiper-item {
  color: $color-white;
  display: flex;
  justify-content: space-between;
  gap: 4.375rem;
  padding-top: 3rem;
  padding-bottom: 5.3rem;

  &__body {
    max-width: 38rem;
  }

  &__img-container {
    height: 31.25rem;
    max-width: 41rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__text {
    white-space: pre-wrap;
    font-size: 1.375rem;
    margin-top: 1rem;
  }
}
